.hero-bullets li {
  list-style: none;
  font-size: 25px;
  margin: 20px 0;
}
.hero-bullets li i {
  color: var(--golden);
  font-size: 18px;
  margin: 0 20px;
}

.faq .accordion-button {
  background: #000;
  border: 1px solid var(--golden);
  color: #fff !important;
  font-size: 20px;
  font-family: var(--font-ibm);
  font-weight: 500;
}

.faq .accordion-body {
  padding: 1rem 1.25rem;
  background: #000;
  color: #fff;
}
.faq .accordion-item {
  border: none;
}

.faq .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "\f107";

  background-image: unset;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  color: #fff;
}

.faq .accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: var(--golden) !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.contact-about a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.contact-about a i {
  color: var(--golden);
  margin: 0 10px;
}

.contact-about span {
  margin: 10px 0;
}
