@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --golden: #da9c65;
  --red: #ff0d2f;
  --skin_cl: #da9c65;
  --gray_cl: #bebebe;
  --border_cl: #d9d9d9;
  --psm: 1.0625rem;
  --font-31: 1.8rem;
  --font-52: 3rem;
  --heading1: 5.7rem;
  --font-ibm: "IBM Plex Sans Thai Looped", sans-serif;
  --font-dancing: "Dancing Script", cursive;
  --font-work-sans: "Work Sans', sans-serif";
}

body {
  background: #000;
  font-family: var(--font-ibm);
}

.sidepadding {
  padding-left: 150px;
  padding-right: 150px;
}

.vertical-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.side-margin {
  margin-left: 150px;
  margin-right: 150px;
}

.btn1 {
  padding: 10px 50px;
  background: var(--golden);
  border: none;
  outline: none;
  color: #000;
  font-size: var(--psm);
}
.goldan-clr {
  color: var(--golden);
}
.fontibm {
  font-family: var(--font-ibm);
}

.font-dancing {
  font-family: var(--font-dancing);
}

.font-work-sans {
  font-family: var(--font-work-sans);
}

.font-size-31 {
  font-size: var(--font-31);
}

.font-size-40 {
  font-size: 35px;
  font-weight: 500;
}

.font-size-57 {
  font-size: var(--font-52);
}

.font-size-20 {
  font-size: 20px;
}
.font-size-25 {
  font-size: 25px;
}
.font-family-sans {
  font-family: var(--font-work-sans);
}

/* common */
.rating {
  padding: 0 30px;
}
.rating i {
  color: #ffb503;
  margin: 0 2px;
}

.slider {
  display: flex;
}
.slider .slides {
  display: flex;
  justify-content: center;
}
.global-btn {
  margin: 0 30px;

  border: none;
  background: var(--golden);
  color: #fff;
  border-radius: 20px;
  font-family: var(--font-work-sans);
  font-weight: 500;
  transition: 0.3s ease;
  outline: none;
}

footer {
  background: url("../assest/img/footer-bg\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.social i {
  margin: 0 20px;
  font-size: 1.5rem;
}
footer ul {
  margin-top: 2rem;
  padding: 0;
}

footer ul li {
  list-style: none;
  margin: 20px 0;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

footer ul li i {
  margin: 0 10px;
}

main {
  background: url("../assest/img/bg222.png");

  background-size: cover;

  background-repeat: no-repeat;
}

.product_banner_section h5 {
  color: var(--white);
  font-family: "Work Sans";
  font-size: 24px;
}

.product_banner_section span {
  color: var(--golden);
  font-weight: 700;
}

.products img {
  height: 300px;
}

.bg-top {
  background-image: url(../assest/img/product-bg.png);
  background-position: center;
  background-size: cover;
}

@media (max-width: 1440px) {
  html {
  }
  .side-margin {
    margin-left: 100px;
    margin-right: 100px;
  }
  .sidepadding {
    padding-left: 80px;
    padding-right: 80px;
  }

  .products-list {
    margin-top: 20px;
  }
  .vertical-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 1200px) {
  html {
  }
  .side-margin {
    margin-left: 60px;
    margin-right: 60px;
  }
  .sidepadding {
    padding-left: 60px;
    padding-right: 60px;
  }
  .vertical-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 94%;
  }
  .side-margin {
    margin-left: 60px;
    margin-right: 60px;
  }
  .sidepadding {
    padding-left: 60px;
    padding-right: 60px;
  }
  .vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .fotter-margin {
    margin: 20px 0 !important;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 75%;
  }
  :root {
    --heading1: 4.5 rem;
  }
  .side-margin {
    margin-left: 30px;
    margin-right: 30px;
  }
  .sidepadding {
    padding-left: 30px;
    padding-right: 30px;
  }
  .vertical-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 75%;
  }
  .side-margin {
    margin-left: 10px;
    margin-right: 10px;
  }
  .sidepadding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
