.home-hero {
  background: url("../assest/img/homehero.png");
  background-position: center;
  background-size: cover;
}

.hero h3 {
  font-size: var(--heading1) !important;
}

.hero p {
  font-size: var(--psm);
}

.hero_bottom-padding {
  padding-bottom: 150px;
}

.tab-btn {
  margin-top: 30px;
}
.tab-btn button {
  margin: 0 30px;
  padding: 10px 40px;
  border: none;
  background: #fff;
  border-radius: 20px;
  font-family: var(--font-work-sans);
  font-weight: 500;
  transition: 0.3s ease;
  outline: none;
}

.tab-btn .active,
.tab-btn button:hover {
  background: var(--golden);
  color: #fff;
}

.top-less {
  margin-top: -200px !important;
}

.know-us {
  background-color: #151515;
  padding: 20px 40px;
  color: #fff;
}

.girl-img {
  margin-top: -200px;
}

.testi-img {
  margin-top: -76px;
}

.testi-des {
  color: var(--golden);
  text-transform: capitalize;
  font-weight: 600;
}

.tabs .nav-pills .nav-link.active {
  background: var(--golden) !important;
}

.tabs ul li {
  margin: 0 20px;
}

.tabs .nav-pills .nav-link {
  background: #fff;
  color: #000;
  padding: 10px 50px;
  border-radius: 20px;
  font-weight: 500;
}
.newsleeter-bar {
  width: 50%;
  background: #fff;
  padding: 8.5px 20px;
  border: none;
}

.multiple-items .slick-next {
  right: 54px;
  z-index: 100;
  font-size: 30px;
}

.multiple-items .slick-prev {
  left: 53px;
  z-index: 100;
}

@media (max-width: 1440px) {
  .home-slider {
    margin: 40px 0;
  }
  .top-less {
    margin-top: 0 !important;
  }
}

@media (max-width: 1024px) {
  .hero_bottom-padding {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .tabs .nav-pills .nav-link {
    margin: 10px 0;
  }
}

@media (max-width: 550px) {
  .hero h3 {
    font-size: 50px !important;
  }
}
