.bg-top {
    background-image: url(../assest/img/product-bg.png);
    background-position: center;
    background-size: cover;
}
.product_banner_section h5 {
    color: var(--white);
    font-family: "Work Sans";
    font-size: 24px;
}
.product_banner_section span {
    color: var(--golden);
    font-weight: 700;
}
.singel_product h1 {
    color: var(--white);
    font-size: 45px;
}
.singel_product p {
    color: var(--white);
    font-size: 24px;
}
.product_details p {
    font-size: 18px;
    font-family: "Work Sans";
    letter-spacing: 0.03em;
    margin: 0.4rem 0;
}
.time_section p {
    font-size: 22px;
}
.product_details .time_div {
    background-color: var(--white);
    padding: 1.3rem 1rem;
    text-align: center;
}
.product_details .time_div p {
    margin: 0;
    font-size: 20px;
    color: #000;
}
.price_div {
    border-bottom: 1px solid var(--white);
}
.price_div h4 {
    color: var(--white);
    margin: 0;
    font-family: "Work Sans";
    font-weight: 700;
    font-size: 40px;
}
.price_div .line {
    margin: 0;
    text-decoration: line-through;
    color: #d0d0d0;
    font-size: 18px;
}
.prive_top_bodder {
    border-top: 1px solid var(--white);
}
.filter h5 {
    font-size: 20px;
    color: var(--white);
    font-family: "Work Sans";
}
.filter .filter-div {
    border: 1px solid var(--white);
    text-align: center;
    padding: 1.2rem 1rem;
}

.filter .filter-div p {
    margin: 0;
    font-size: 18px;
}

.filter .colr_div {
    width: 100%;
    height: 70px;
}

.dark_cl {
    background-color: #000;
}

.gray_cl {
    background-color: #746d66;
}

.skin_cl {
    background-color: #b4846b;
}

.colr_div_activ {
    border: 1px solid var(--white);
}
.fire p {
    color: var(--red);
    font-size: 18px;
}
.quntity-div {
    width: 150px;
    height: 60px;
    border: 1px solid var(--white);
}
.quntity-div {
    display: flex;
    align-items: center;
}
.quntity-div input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 1rem;
    color: var(--white);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}
.cart_div {
    height: 80px;
}
.add_to_cart {
    width: 100%;
    height: 100%;
    background-color: var(--skin_cl);
    color: var(--white);
    font-size: 25px;
    border: none;
}
.like {
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}
.singel_product .product_image {
    width: 100%;
    height: 900px;
    background: #fbeee2;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.singel_product .sm-image-group {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbeee2;
}
.qustion span {
    color: var(--skin_cl);
}
.product_discription .tabs_div {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--white);
}
.active_div {
    background-color: var(--skin_cl) !important;
}
.active_div p {
    color: var(--white);
}
.product_discription .tabs_div p {
    margin: 0;
    font-size: 20px;
}
.products h3 {
    color: var(--skin_cl);
    font-size: 35px;
}
.products p {
    color: var(--gray_cl);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}
.table {
    border: 1px solid var(--border_cl);
}
.border_bottom {
    border-bottom: 1px solid #d9d9d9;
}
.border_bottom h5 {
    color: var(--white);
    margin: 0;
}
.table h4 {
    color: var(--skin_cl);
}
.table_content p {
    color: var(--white);
    font-size: 17px;
}
