@media (max-width: 1600px) {
    .singel_product h1 {
        font-size: 35px;
    }
    .product_details p {
        font-size: 14px;
    }
    .product_details .time_div {
        padding: 1rem;
    }
    .price_div h4 {
        font-size: 33px;
    }
    .filter .filter-div p {
        font-size: 12px;
    }
    .add_to_cart {
        font-size: 19px;
    }
    .product_discription .tabs_div p {
        font-size: 17px;
    }
    .products p {
        font-size: 17px;
        line-height: 28px;
    }
    .table_content p {
        font-size: 16px;
    }
    .singel_product .sm-image-group {
        height: 122px;
    }
    .filter .colr_div {
        height: 59px;
    }
}

@media (max-width: 1500px) {
    .singel_product .product_image {
        height: 550px;
    }
}

@media (max-width: 1350px) {
    .singel_product p {
        font-size: 17px;
    }
    .sidepadding {
        padding-left: 100px;
        padding-right: 100px;
    }
    .navbar-global .nav-item {
        margin: 0px 13px;
    }
    .side-margin {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 1200px) {
    .flex_div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1000px) {
    .flex_div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 800px) {
    .flex_div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1000px) {
    .sidepadding {
        padding-left: 80px;
        padding-right: 80px;
    }
    .products h3 {
        font-size: 29px;
    }
}
@media (max-width: 500px) {
    .sidepadding {
        padding-left: 30px;
        padding-right: 30px;
    }
    .singel_product h1 {
        font-size: 24px;
    }
    .singel_product .product_image {
        height: 368px;
    }
}

@media (max-width: 450px) {
    .side-margin {
        margin-left: 15px;
        margin-right: 15px;
    }
    .flex_div {
        display: block !important;
    }
}
